<div class="footer navbar-fixed-bottom">
<div class="container">
  <a href="/contact"> <h3>Contact Us </h3></a>


<div class="fb-share-button" data-href="https://localhost:3000" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>
</div>
</div>
