
<div class= "index_img">
  <h1>let creativity in to <br> your heart and home</h1>

  <div class="about">
    <div class="container">
    <h2> Welcome to The Creative Project</h2>
    <p>
      <strong>Did you know</strong> research show that the stress of poverty can interrupt the development if the brain, more specific it can stunt the development of grey matter*. Studies also show that the "lack" of grey matter makes us more susceptible to addiction.
      <br><strong> But did you also know </strong> creativity is proven to help with the brains development as well as helps to relieve stress and improve your mood. To bring creativity in ot schools in developing countries could therefor help a lot of children as they grow up.
      Supplying them with art supplies, giving them the chance to be creative and channel their emotions in to something creative rather than destructive .
      This website would work as a place for schools to sell the students artwork helping to bring in funds for new art supplies as well as raise additional funds and awareness.
      I believe that with help from organisations like GAA (Global Art Association) and United World Schools this could become reality.
    </p>
    <div class="footnote">
    <p>
      *grey matter contains most of the brains neuronal cell bodies. It's in charge of developing such things as sensory perception but more importantly for this project, it helps us develop the parts that deal with memory, emotions, decision making and self control.
    </p>
  </div>
</div>
</div>
