<div class="add_to_cart_wrapper">
<div class="add_to_cart">
<p>Do you wish to add this item to your cart?</p>

<%= render 'form', cart_item: @cart_item %>

<%= link_to 'No, I changed my mind', posts_path, class: "btn-black" %>
</div>
</div>
