<div class="background_item">

<div class="item_show">

<p>thanks for supporting The Creatiev Project!  </p>
<p> do you wish to continue shopping? </p>

<%= link_to 'Yes, take me back', posts_path, class: "btn-black" %>
<br>
<%= link_to "No, I'd like to pay", cart_items_path, class: "btn-black" %>

</div>
</div>
