<div class="new_post_wrapper">
<div class="container">
  <div class="new-post">
<h1>Upload your artwork here</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
</div>
</div>
</div>
