// Place all the styles related to the admin_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.split_background {
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #4e6d9b 50%, #7292b7 50%);
  min-height: 500px;
  height: 100%;
  position:relative;
}

.dashboard {
  margin-top: 150px;
  padding-bottom: 150px;

}

.dashboard .table {
  background: #FFF;
}
.dashboard h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.dashboard h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
